@import "variables";
footer{
    float:left;
    width: 100%;
    background: $darker;
    font-size: 1.23em;
    text-align: center;
    height: 40vh;
}
footer a{
    color:$primary;//$secondary;
    font-size: 2em;
    transition: 0.7s;
}
footer a:hover{
    color:$accent;
    animation:flipInX 1s;
}